########## All of my aliases

## General commands
alias cdw='cd /mnt/c/Users/kkhai/wsl'
alias ll='ls -AlFpX --group-directories-first'
alias l='ls -lFpX --group-directories-first'
alias rm='rm -i'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias tmux='tmux -2'

## SSH
alias ieng6='ssh -X kkchau@ieng6.ucsd.edu'
alias comet='ssh -X kkchau@comet.sdsc.edu'
alias cometexec='ssh -t kkchau@comet.sdsc.edu'

# Git
alias gitread='git add .; git commit -m "updated readme"; git push origin master'
alias gitgud='git add .; git commit -m "bug fixes"; git push origin master'
